<footer class="l-footer">
    <div class="l-footer__top">
        <div class="l-footer__logo">
            <a href="#">
                <img src="<%= path %>/images/common/logo@2x.png" alt="Jetus">
            </a>
        </div>
        <div class="l-footer__links">
            <ul class="l-footer__list">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Works</a>
                </li>
                <li>
                    <a href="#">Company</a>
                </li>
                <li>
                    <a href="#">Recruit</a>
                </li>
            </ul>
            <a class="c-button l-footer__contact" href="#">Contact</a>
        </div>
        <a class="l-footer__page-top js-page-top" href="#main"></a>
    </div>
    <small class="l-footer__copyright">&copy; Jetus Inc. All rights reserved.</small>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer src="<%= path %>/js/index.js"></script>
