<div class="c-hamburger js-toggle-nav">
    <span></span>
    <span></span>
</div>
<!-- <nav class="c-sp-nav">
    <ul class="c-sp-nav__list">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Works</a>
        </li>
        <li>
            <a href="#">Company</a>
        </li>
        <li>
            <a href="#">Recruit</a>
        </li>
    </ul>
    <a class="c-sp-nav__contact" href="#">Contact</a>
</nav> -->
<div class="c-sp-nav-bg"></div>
