@use "../../foundation/system" as s;
@use "../../foundation/mixin" as m;

.c-button {
    background-color: s.$c-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 32px;
    border-radius: 20px;
    &:hover {
        color: s.$c-white;
        background-color: rgba($color: s.$c-black, $alpha: 0.7);
        border: 1px solid s.$c-white;
    }
}
