@use "../../foundation/system" as s;
@use "../../foundation/mixin" as m;

.c-title {
    font-size: 5.6rem;
    line-height: 100%;
    margin-bottom: 56px;
    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(sp) {
    }
    &--about {
        @include s.breakpoint(sp) {
            margin-bottom: 34px;
        }
    }
}
