@use "../foundation/system" as s;
@use "../foundation/mixin" as m;

.l-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 42px 48px 42px 49px;
    @include s.transition-base();
    @include s.breakpoint(tablet) {
        padding: 29px 23px 29px 17px;
    }
    &.is-active {
        background-color: s.$c-black;
        box-shadow: 0 0 8px s.$c-black;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        position: relative;
        z-index: 999;
        max-width: 84px;
        @include s.breakpoint(tablet) {
            max-width: 74px;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            color: s.$c-white;
            line-height: calc(24/16);
            @include m.lineHeightSpaceFill(calc(24/16));
            &+li {
                margin-left: 30px;
            }
            a {
                color: s.$c-white;
            }
        }
    }
    &__contact {
        margin-left: 67px;
    }
}
