@use "../foundation/system" as s;
@use "../foundation/mixin" as m;

.l-inner {
    max-width: calc(1350px + 98px);
    padding: 0 48px;
    margin: 0 auto;
    @include s.breakpoint(sp) {
        padding: 0 18px;
    }
}
