@use "../../foundation/system" as s;
@use "../../foundation/mixin" as m;

.mv {
    position: relative;
    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(sp) {
    }
    &__swiper {
    }
    &__swiper-wrapper {
        .swiper-slide {
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            min-height: 100vh;
            min-height: 100svh;
        }
        .swiper-slide01 {
            background-image: url(../images/mv/web_ph_mv_01.png);
            @include s.breakpoint(tablet) {
                background-image: url(../images/mv/web_ph_mv_01_sp.png);
            }
        }
        .swiper-slide02 {
            background-image: url(../images/mv/web_ph_mv_02.png);
            @include s.breakpoint(tablet) {
                background-image: url(../images/mv/web_ph_mv_02_sp.png);
            }
        }
        .swiper-slide03 {
            background-image: url(../images/mv/web_ph_mv_03.png);
            @include s.breakpoint(tablet) {
                background-image: url(../images/mv/web_ph_mv_03_sp.png);
            }
        }
    }
    &__swiper-pagination {
        display: inline-flex;
        align-items: center;
        left: 66px !important;
        bottom: 60px !important;
        width: auto !important;
        @include s.breakpoint(tablet) {
            left: 50% !important;
            bottom: 26px !important;
            transform: translate3d(-50%, 0, 0) !important;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background-color: s.$c-white;
            opacity: 1 !important;
            margin: 0 12px !important;
            @include s.transition-base();
            @include s.breakpoint(tablet) {
                width: 4px;
                height: 4px;
                margin: 0 6px !important;
            }
        }
        .swiper-pagination-bullet-active {
            width: 16px;
            height: 16px;
            opacity: 1;
            @include s.breakpoint(tablet) {
                width: 8px;
                height: 8px;
            }
        }
    }
    &__catch {
        font-size: 8.0rem;
        line-height: calc(96/80);
        color: s.$c-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 9;
        width: 540px;
        @include s.breakpoint(tablet) {
            font-size: 6.0rem;
            left: 17px;
            transform: translate(0,-50%);
            width: auto;
        }
        @include s.breakpoint(sp) {
            font-size: 4.0rem;
        }
    }
    &__message {
        font-size: 2.4rem;
        line-height: calc(33/24);
        color: s.$c-white;
        position: absolute;
        left: 50%;
        bottom: 55px;
        transform: translateX(-50%);
        z-index: 9;
        width: 540px;
        @include s.breakpoint(tablet) {
            font-size: 1.8rem;
            left: 17px;
            bottom: 70px;
            transform: translateX(0);
            width: auto;
        }
        @include s.breakpoint(sp) {
            font-size: 1.2rem;
        }
    }
    &__scrolldown {
        writing-mode: vertical-rl;
        line-height: 100%;
        color: s.$c-white;
        position: absolute;
        right: 50px;
        bottom: 220px;
        z-index: 9;
        @include s.breakpoint(tablet) {
            font-size: 1.2rem;
            right: 18px;
            bottom: 167px;
        }
        span {
            position: relative;
            display: flex;
            align-items: center;
            &::after {
                content: "";
                display: block;
                height: 200px;
                width: 1px;
                background-color: s.$c-white;
                animation: scrollDown 1.5s ease-in-out infinite;
                position: absolute;
                left: 40%;
                bottom: -220px;
                @include s.breakpoint(tablet) {
                    height: 160px;
                    bottom: -167px;
                }
            }
        }
        @keyframes scrollDown {
            0% {
                transform: scale(1, 0);
                transform-origin: 0 0;
            }
            50% {
                transform: scale(1, 1);
                transform-origin: 0 0;
            }
            50.1% {
                transform: scale(1, 1);
                transform-origin: 0 100%;
            }
            100% {
                transform: scale(1, 0);
                transform-origin: 0 100%;
            }
        }
    }
}
